<main class="main">
  <div class="inner">
    <div class="greeting">
        <% if user_signed_in? %>
          <%= "こんにちは、"%>
          <%= link_to "#{current_user.name}さん", user_path(current_user.id), class: :greeting__link%>
      </div>
        <% end %>
    <div class="card__wrapper">
      <%= render partial: "prototypes/prototype", collection: @prototype %>
    </div>
  </div>
</main>
